@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    --bg-color: #fde68a;
    --bg-color-dark: #92400e;
    --card-color: #fcd34d;
    --card-color-darker: #f59e0b;
    --text-color: #451a03;
    --text-color-light: #fef3c7;
    --shadow-color: rgba(69, 26, 3, 0.3);
    --main-btn-color: #4ade80;
    --main-btn-color-darker: #16a34a;
    --expiring-color: #ef4444;
    --shadow: 2px 2px 6px var(--shadow-color);
}

body {
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
}

.hidden {
    display: none !important;
}

.visible {
    opacity: 1 !important;
}

.left-layout,
.right-layout {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.left-layout {
    transform: translateX(-100%);
    z-index: -999 !important;
}

.right-layout {
    transform: translateX(100%);
}

.submit-wrapper {
    position: relative;
}

/* Button */
.btn {
    padding: 1rem 5rem;
    background-color: var(--main-btn-color);
    font-size: 1.9rem;
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color ease-out 0.5s 0.1s,
        transform ease-out 0.5s 0.1s;
}

.btn:hover {
    background-color: var(--main-btn-color-darker);
    transform: scale(1.1);
}

.helper {
    position: absolute;
    top: 50%;
    right: -1.5rem;
    transform: translate(100%, -50%);
}

.helper strong {
    font-size: 1.4rem;
}

/* Sections overall styles */
.start,
.info,
.category,
.question {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity ease-out 0.3s;
}

/* Start section */
.start {
    gap: 4rem;
}

.start__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 35%;
}

.start__heading {
    font-size: 2.2rem;
    text-align: center;
}

.start__text {
    width: 90%;
    font-size: 1.8rem;
    text-align: center;
}

/* Info section */

.info__wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.info__title,
.info__text {
    text-align: start;
}

.info__title {
    font-size: 2.2rem;
}

.info__text {
    font-size: 1.8rem;
}

.info__input {
    margin-top: 1.5rem;
    min-width: 100%;
    padding: 0.8rem 0;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--card-color);
    font-size: 2.5rem;
    transition: border-bottom-color ease-out 0.5s 0.02s;
}

.info__input:focus {
    outline: none;
    border-bottom-color: var(--bg-color-dark);
}

/* Categories section */
.category {
    gap: 5rem;
}

.category__header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.category__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.category__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19%;
    background-color: var(--card-color);
    box-shadow: var(--shadow);
    cursor: pointer;
}

.card {
    width: 36.5rem;
    height: 24.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: 1s ease-in all;
}

.card:hover {
    transform: rotateY(180deg);
}

.card__front,
.cart__back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.cart__back {
    transform: rotateY(180deg);
    font-size: 3rem;
    line-height: 2;
    background-color: var(--card-color);
    text-transform: uppercase;
}

.prepare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.prepare__title {
    font-size: 3rem;
}

.prepare__text {
    font-size: 2rem;
}

.question__container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 4rem 2rem 1.5rem 2rem;
    box-shadow: var(--shadow);
}

.question__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
}

.question__time.expiring {
    color: var(--expiring-color);
}

.question__remain {
    position: relative;
    width: 100%;
    height: 1.5rem;
}

.question__inner,
.question__outer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.question__inner {
    width: 100%;
    background-color: var(--card-color);
}

.question__outer {
    width: 100%;
    background-color: var(--bg-color-dark);
    transition: width ease-out 0.1s;
}

.question__outer::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 2rem;
    transform: translate(-50%, -50%);
}

.question__content {
    width: 100%;
    min-height: 34.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 1rem;
    overflow: hidden;
}

.question__item {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: transform ease-out 0.5s;
}
.question__task {
    min-height: 8rem;
    width: 70%;
    font-size: 2rem;
}

.question__options {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.7rem;
}

.question__option {
    padding: 1rem 3rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.question__option:hover {
    background-color: var(--card-color);
}

.question__option.chosen {
    background-color: var(--card-color-darker);
}

.question__forward {
    align-self: flex-end;
    padding: 2rem;
    border-radius: 50%;
    background-color: var(--bg-color-dark);
    font-size: 1.7rem;
    color: var(--text-color-light);
}

.question__forward:hover {
    background-color: var(--text-color);
}

/* Result section */
.result {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result__container {
    position: relative;
    padding: 6rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    box-shadow: 1px 2px 6px var(--shadow-color);
}

.result__name {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
}

/* Loader */
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--text-color-light);
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.correct {
    color: green !important;
}
